header {
  background-color: #000;
  background-size: cover;
}

.class {
  width: 1000px;
}

.class p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.class p li {
  list-style-type: disc;
  color: #333;
}
