header {
  background-color: green;
  background-size: cover;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  padding: 20px 30px;
}

nav a:hover, nav a.active {
  background-color: #165316;
}
